.Notification {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 23px;
  padding-left: 20px;

  .not_logo {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border: 0.833333px solid rgba(89, 100, 118, 0.16);
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;

    &::after {
      display: block;
      content: "";
      width: 1px;
      height: 80%;
      right: 63px;
      position: absolute;
      background: rgba(89, 100, 118, 0.16);
    }

    span {
      display: block;
      position: absolute;
      top: 23%;
      left: 53%;
      width: 8px;
      height: 8px;
      background: #d44333;
      border: 0.833333px solid #ffffff;
      box-sizing: border-box;
      border-radius: 50%;
      line-height: 0;
    }
  }

  .not_overlay {
    position: fixed;
    width: 35%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0px 24px 38px rgba(47, 53, 57, 0.03),
      0px 9px 46px rgba(71, 116, 138, 0.02),
      0px 11px 15px rgba(95, 137, 158, 0.04);

    .overlay_header {
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 30px 45px;

      .close_icon {
        font-size: 30px;
        cursor: pointer;
      }
    }

    .overlay_title {
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 30px 38px;

      h3 {
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #030235;
      }
    }

    .overlay_content {
      width: 100%;
      padding: 0 0 0 38px;

      .content_navbar {
        ul {
          width: 100%;
          display: flex;
          flex-grow: 1;
          flex-direction: row;
          margin: 0;
          padding: 0;
          border-bottom: 2px solid rgba(89, 100, 118, 0.16);

          li {
            list-style: none;
            margin-right: 20px;
            padding-bottom: 18px;
            display: flex;
            align-items: center;

            border-bottom: 2px solid transparent;
            margin-bottom: -2px;
            transition: all 0.1s;

            &:hover {
              border-bottom: 2px solid #030235;
            }

            span {
              display: block;
              width: 16px;
              height: 16px;
              line-height: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(89, 100, 118, 0.16);
              border-radius: 50%;
              margin-left: 10px;
            }
          }
        }
      }

      .content_body {
        width: 100%;
        height: 100%;
        position: relative;

        .no_notification {
          width: 260px;
          height: 403px;
          position: absolute;
          top: 130px;
          left: 50%;
          transform: translateX(-50%);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .not_overlay_back {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(24, 32, 50, 0.1);
  }
}
