.Auth_component {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 70px 64px;
  background: #ffffff;
  box-shadow: 0px 24px 38px rgba(47, 53, 57, 0.03),
    0px 9px 46px rgba(71, 116, 138, 0.02),
    0px 11px 15px rgba(95, 137, 158, 0.04);
  border-radius: 28px;

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #030235;
    margin-bottom: 10px;
  }

  h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #6b6e85;
    margin-bottom: 65px;
  }

  h6.error {
    color: #d44333;
  }

  form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

    .input_form {
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      label {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #6b6e85;
        margin-bottom: 8px;
      }

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #98a0ad;
        margin-bottom: 20px;
        transition: all 0.2s;
        opacity: 0;
      }

      span.active {
        opacity: 1;
      }

      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input[type="password"] {
        font-family: Verdana;
      }

      input {
        width: 420px;
        background: #ffffff;
        border: 2px solid rgba(89, 100, 118, 0.16);
        font-family: "Inter";
        box-sizing: border-box;
        border-radius: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #030235;
        padding: 14px 20px;
        margin-bottom: 8px;
        font: 26px;

        &:focus {
          outline: none;
          border: 2px solid #030235;
        }

        &::placeholder {
          color: #98a0ad;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .button_form {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 100px;

      button {
        width: 100%;
        background: #030235;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        border: none;
        padding: 16px;
      }
    }

    .button_form.forgot {
      margin-bottom: 30px !important;
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #030235;

    .form_link {
      color: #030235;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.component2 {
  padding: 40px 64px;

  h6 {
    margin-bottom: 15px;
  }

  .input_form {
    input {
      margin-bottom: 5px !important;
      padding: 12px 20px !important;
    }
    span {
      margin-bottom: 5px !important;
    }
  }
  .button_form {
    margin-bottom: 25px !important;
    margin-top: 10px !important;
  }

  .privacy {
    width: 420px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b6e85;

    .privacy_link {
      text-decoration: underline;
      color: #2466c5;
    }
  }
}

.reset {
  padding-bottom: 200px;

  .input_form span {
    margin-bottom: 28px !important;
  }
}

.send_info {
  margin-top: 15%;
  padding-bottom: 100px;
  padding: 70px 52px 100px;

  h3 {
    font-size: 28px;
  }

  h6 {
    font-size: 18px;
    margin-top: 13px;
  }

  .contact {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 40px;
      color: #030235;
      margin-bottom: 25px;
    }
    .icons {
      display: flex;
      flex-grow: 1;
      align-items: center;
      flex-direction: row;

      .icon {
        text-decoration: none;
        color: #030235;
        font-size: 32px;
        margin: 0 15px;
      }
    }
  }
}
