.AdminProfile {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;

  .profile_logo {
    width: 40px;
    height: 40px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .overlay_back {
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(24, 32, 50, 0.1);
  }

  .profile_overlay {
    z-index: 13;
    position: fixed;
    top: 0;
    right: -500;
    bottom: 0;
    width: 35%;
    height: 100vh;
    background: #fafafb;
    box-shadow: 0px 16px 24px rgba(2, 3, 3, 0.03),
      0px 6px 30px rgba(2, 3, 3, 0.02), 0px 8px 10px rgba(2, 3, 3, 0.04);
    transition: all 0.3s;

    .overlay_header {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 38px;

      .person_status {
        display: flex;
        align-items: center;
        color: #030235;
        font-size: 16px;
        font-weight: 500;

        span {
          display: inline-block;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          line-height: 0;
          background: #17a468;
          margin-right: 10px;
        }
      }

      .overlay_toggle {
        font-size: 30px;
        cursor: pointer;
      }
    }

    .overlay_title {
      padding: 35px 38px;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;

      h6 {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #6b6e85;
        margin-top: 5px;
      }

      .person_info {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;

        .info_img {
          display: none;
          width: 56px;
          height: 56px;
          margin-right: 15px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .add_img {
          width: 56px;
          height: 56px;
          display: flex;
          border-radius: 50%;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border: 1px dashed #98a0ad;
          margin-right: 15px;
          cursor: pointer;
        }

        .person_name {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 40px;
            color: #030235;
          }
        }
      }
    }

    .overlay_content {
      .content_navbar {
        width: 100%;
        padding: 0 0 0 38px;

        ul {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          list-style: none;
          border-bottom: 2px solid rgba(89, 100, 118, 0.16);

          li {
            color: #030235;
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            margin-right: 24px;
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
            margin-bottom: -2px;
            cursor: pointer;

            &.active {
              border-bottom: 2px solid #030235;
            }

            .nav_not {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              background: rgba(89, 100, 118, 0.16);
              border-radius: 50%;
              margin-left: 10px;
            }
          }
        }
      }

      .content_body {
        background: #fff;
        width: 100%;
        padding: 0 38px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .body_box {
          width: 100%;
          height: 90vh;
          display: none;
        }

        .body_box.active {
          display: block;
        }

        .access_suitor {
          padding-top: 32px;

          .suitor_head {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 18px;

            p {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              text-transform: uppercase;
              color: #030235;
            }

            span {
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 24px;
              color: #030235;
            }
          }

          .suitor_list {
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            .suitor_item {
              display: flex;
              flex-grow: 1;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              padding: 16px 12px;
              border-top: 1px solid rgba(89, 100, 118, 0.16);

              &:last-child {
                border-bottom: 1px solid rgba(89, 100, 118, 0.16);
              }

              .item_info {
                display: flex;
                flex-direction: row;
                align-items: center;

                .info_logo {
                  background: #030235;
                  border-radius: 50%;
                  width: 32px;
                  height: 32px;
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  margin-right: 10px;
                }

                .info_text {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;

                  p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: #030235;
                  }

                  span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: -0.078px;
                    color: #6b6e85;
                  }
                }
              }

              .item_decide {
                display: flex;
                flex-direction: row;
                align-items: center;

                .agree {
                  margin-left: 10px;
                  position: relative;
                }

                .agree_info {
                  top: -100%;
                  right: 0;
                  position: absolute;
                  z-index: 3;
                  display: none;
                  transition: all 0.2s;
                  background: #ffffff;
                  padding: 8px 10px;
                  box-shadow: 0px 16px 24px rgba(2, 3, 3, 0.03),
                    0px 6px 30px rgba(2, 3, 3, 0.02),
                    0px 8px 10px rgba(2, 3, 3, 0.04);
                  border-radius: 12px;

                  ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    li {
                      padding: 7px 14px;
                      border-radius: 8px;

                      &:hover {
                        background: #f7f7f9;
                      }
                    }
                  }
                }

                button {
                  border: none;
                  outline: none;
                  background: #f7f7f9;
                  color: #030235;
                  padding: 7px 15px;
                  transition: all 0.1s;
                  border-radius: 6px;
                  cursor: pointer;

                  &.disagree:hover {
                    background-color: rgb(242, 74, 114, 0.3);
                  }

                  &.agree:hover {
                    background-color: rgb(107, 203, 119, 0.3);
                  }

                  &.agree:focus {
                    .agree_info {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .profile_overlay.open {
    transition: 0.3s;
    right: 0;
  }

  .profile_modal {
    z-index: 12;
    width: 270px;
    position: absolute;
    top: 60px;
    right: 40px;
    background: #ffffff;
    box-shadow: 0px 16px 24px rgba(2, 3, 3, 0.03),
      0px 6px 30px rgba(2, 3, 3, 0.02), 0px 8px 10px rgba(2, 3, 3, 0.04);
    border-radius: 8px;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5px 8px;

      li {
        width: 100%;
        display: flex;
        padding: 12px 10px;
        border-bottom: 1px solid #fafafb;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #030235;

        &:last-child {
          border-bottom: none;
        }

        .modal_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;

          .info_logo {
            width: 32px;
            height: 32px;
            margin-right: 10px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .info_text {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            p {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #030235;
            }

            span {
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #6b6e85;
            }
          }
        }

        .vacation {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;

          .status {
            display: flex;
            align-items: center;
            flex-direction: row;

            .switch {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
